CPAD_MAIN_DOMAIN={{ cryptpad.config.httpUnsafeOrigin.split("://")[1] }}
CPAD_SANDBOX_DOMAIN={{ cryptpad.config.httpSafeOrigin.split("://")[1] }}
{%- for conf, val in cryptpad.config_nginx | dictsort %}
{%-   if val is not none and conf not in ["port"] %}
CPAD_{{ conf | upper }}={{ val if val not in [true, false] else val | lower }}
{%-   endif %}
{%- endfor %}
