{%- set is_network_mount = {} -%}
{%- for path in ["customize", "data_blob", "data_block", "data_data", "data_files"] %}
{%-   do is_network_mount.update({
        path: salt["cmd.run_stdout"](
          "df -P '{path}' | ".format(path=cryptpad.lookup.paths[path]) ~
            "awk 'BEGIN {e=1} $NF ~ /^\/.+/ { e=0 ; print $1 ; exit } END { exit e }'",
          python_shell=true,
          ignore_retcode=true
        )
}) %}
{%- endfor -%}
---
version: '3.8'

services:
  cryptpad:
    image: {{ cryptpad.lookup.containers.cryptpad.image.format(version=cryptpad.version) }}
    hostname: cryptpad
    env_file:
      - {{ cryptpad.lookup.paths.config_cryptpad }}
    volumes:
      - {{ cryptpad.lookup.paths.config_js }}:/cryptpad/config/config.js:Z
      - {{ cryptpad.lookup.paths.customize }}:/cryptpad/customize{%- if not is_network_mount["customize"] %}:Z{%- endif %}
      - {{ cryptpad.lookup.paths.data_blob }}:/cryptpad/blob{%- if not is_network_mount["data_blob"] %}:Z{%- endif %}
      - {{ cryptpad.lookup.paths.data_block }}:/cryptpad/block{%- if not is_network_mount["data_block"] %}:Z{%- endif %}
      - {{ cryptpad.lookup.paths.data_data }}:/cryptpad/data{%- if not is_network_mount["data_data"] %}:Z{%- endif %}
      - {{ cryptpad.lookup.paths.data_files }}:/cryptpad/datastore{%- if not is_network_mount["data_files"] %}:Z{%- endif %}
    expose:
      - "{{ cryptpad.config.httpPort }}"
      - "{{ cryptpad.config.websocketPort }}"
    ulimits:
      nofile:
        soft: 500000
        hard: 500000
{%- if cryptpad.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}

  cryptpad_web:
    image: {{ cryptpad.lookup.containers.nginx.image }}
    volumes:
      - {{ cryptpad.lookup.paths.nginx_conf }}:/etc/nginx/conf.d/default.conf:ro,Z
{%- if cryptpad.cert.manage %}
      - {{ cryptpad.lookup.paths.tls }}:/etc/nginx/tls:Z
{%- endif %}
    ports:
      - "{{ cryptpad.config.httpPort }}:{{ cryptpad.config.httpPort }}"
{%- if cryptpad.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
